<div class='panel panel-default'>
  <div class='panel-heading'>
    <h1 class='panel-title'><%= record_class.model_name.plural.humanize.titlecase %>
      <div class='panel-toolbar'>
        <%= link_to url_for(controller: record_class.model_name.plural, action: 'new'), class: 'btn btn-default' do %>
          <%= "New #{record_class.model_name.singular.humanize.titlecase}" %>
        <% end %>

        <%= link_to url_for(controller: record_class.model_name.plural, action: 'batch_new'), class: 'btn btn-default' do %>
          <%= "New #{record_class.model_name.singular.humanize.titlecase} Batch" %>
        <% end %>

        <%= link_to url_for(controller: record_class.model_name.plural, action: 'batch_edit'), class: 'btn btn-default' do %>
          <%= 'Edit' %>
        <% end %>
      </div>
    </h1>
  </div>

  <ol class="breadcrumb">
    <li><%= link_to 'Home', '/' %></li>
    <li class='active'><%= record_class.model_name.plural.humanize.titlecase %></li>
  </ol>

  <% if notice.present? %>
    <p class="alert alert-info"><%= notice %></p>
  <% end %>

  <table class='table'>
    <thead>
      <tr>
        <% display_attribute_names_for(record_class).each do |name| %>
          <th><%= name.humanize.titlecase %></th>
        <% end %>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @records.each_with_index do |record, index| %>
        <tr>
          <% display_attribute_names_for(record_class).each_with_index do |name, index| %>
            <td>
              <% if index == 0 %>
                <%= link_to format_attribute(record, name), record %>
              <% else %>
                <%= format_attribute(record, name) %>
              <% end %>
            </td>
          <% end %>
          <td>
            <div class='btn-toolbar'>
              <div class='table-actions btn-group pull-right'>
                <%= link_to edit_polymorphic_url(record), class: 'btn btn-default' do %>
                  <span class='glyphicon glyphicon-edit'></span>
                <% end %>
                <%= link_to record, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' do %>
                  <span class='glyphicon glyphicon-trash'></span>
                <% end %>
              </div>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class='panel-body'></div>
  <div class='panel-footer'></div>
</div>
