<div class='panel panel-default'>
  <div class='panel-heading'>
    <h1 class='panel-title'><%= @record.name %>
      <div class='panel-toolbar'>
        <div class='btn-group'>
          <%= link_to edit_polymorphic_url(@record), class: 'btn btn-default' do %>
            <%= "Edit #{record_class.model_name.singular.humanize.titlecase}" %>
          <% end %>
        </div>
      </div>
    </h1>
  </div>

  <ol class="breadcrumb">
    <li><%= link_to 'Home', '/' %></li>
    <li><%= link_to record_class.model_name.plural.humanize.titlecase, url_for(record_class) %></li>
    <li class='active'><%= @record.humanize %></li>
  </ol>

  <% if notice.present? %>
    <p class="alert alert-info"><%= notice %></p>
  <% end %>

  <div class='panel-body'%>
    <dl class='dl-horizontal'>
      <% display_attribute_names_for(@record.class).each do |name| %>
        <dt><%= name.humanize.titlecase %></dt>
        <dd><%= format_attribute(@record, name) %></dd>
      <% end %>
    </dl>
  </div>

  <div class='panel-footer'></div>
</div>
